<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doc990">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="CheckDoctor"></activity>.
        <activity android:name=".RefundRequest" />
        <activity android:name=".ResendBookingSms" />
        <activity android:name=".AddAboutUs" />
        <activity android:name=".ChangePwdActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Login" />
        <activity android:name=".home" />
        <activity android:name=".booking" />
        <activity android:name=".partner_hospitle" />
        <activity android:name=".BookingHistory" />
        <activity android:name=".MyBookings" />
        <activity android:name=".CheckOngoingNum" />
        <activity android:name=".DownloadReceipt" />
        <activity android:name=".SignUpActivity3" />
        <activity android:name=".SignUpActivity2" />
        <activity android:name=".SignUpActivity1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>